<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninjas | <%- title %></title>
    <link rel="stylesheet" href="/styles.css">   
   
</head>

