<nav>
    <div class="site-tittle">
        <a href="/"><h1>Blog Ninjas</h1></a>
        <p>A net Ninjas site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>