<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="create-blog content">
        <form action="/blogs" method="post">
          <label for="title">Blog title:</label>
          <input type="text" id="title" name="title" required>
          <label for="snippet">Blog snippet:</label>
          <input type="text" id="snippet" name="snippets" required>
          <label for="body">Blog body:</label>
          <textarea id="body" name="body" required></textarea>
          <button>Submit</button>
        </form>
      </div>
</body>
</html>